/* * {
  border: 2px solid red
} */
body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main-section {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
}

.color-display {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 40%;
  align-items: center;
}

.color-box {
  border: 2px solid;
  height: 120px;
  width: 120px;
}

#color1 {
  background: ;
}

#color2 {
  background: #8ACB88;
}

#color3 {
  background: #648381;
}

#color4 {
  background: #575761;
}

#color5 {
 background: #FFBF46;
}
.color-hex-lock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-display {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.lock-button {
  background: none;
  border: none;
  font-size: 1.5em;
}

.main-page-buttons {
  height: 47px;
  width: 100px;
}

.hex-lock {
  display: flex;
}

.saved-palette-section {
  display: flex;
  border-left: 5px solid;
  width: 25%;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.saved-palette-display{
  display: flex;
  display: column;
  justify-content: space-around;
  border: 2px solid blue;
  width: 100%;
  height: 100%;
}

.palette-group {
  display: flex;
  border: 2px solid;
  width: 100%;
  height: 10%;
  justify-content: space-evenly;
  align-items: center;
}


.mini-palette {
  display: flex;
  height: 30px;
  width: 30px;
}
